@page
@model SuccessModel
@{
    ViewData["Title"] = "Compra finalizada";
}

<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>

<div class="container">
    <h1>Obrigado pelo seu pedido!</h1>

    <a asp-page="/Index">Continuar comprando</a>
</div>